{{> head}}
{{> navbar}}

<div class="father">
<div class="center-list">
    <nav class="lista-material">
        <li>
            <ul>Protoboard</ul>
        </li>
        <li>
            <ul>Cables</ul>
        </li>
        <li>
            <ul>pinzas</ul>
        </li>
        <li>
            <ul>memoria RAM 6116</ul>
        </li>
        <li>
            <ul>integrados 74ls08 (AND)</ul>
        </li>
        <li>
            <ul>integrados 74ls32 (OR)</ul>
        </li>
        <li>
            <ul>integrados 74ls07 (Buffer)</ul>
        </li>
        <li>
            <ul>integrados 74LS86 (XOR)</ul>
        </li>
        <li>
            <ul>integrados 74ls04 (NOT)</ul>
        </li>
        <li>
            <ul>74LS193 Contador Binario</ul>
        </li>
        <li>
            <ul>resistensias</ul>
        </li>
        <li>
            <ul>leds</ul>
        </li>
        <li>
            <ul>NodeMCU</ul>
        </li>
    </nav>
</div>
<img class="diagrama" src="img/diagrama.png" alt="diagrama">
</div>

{{> footer}}