{{> head}}
{{> navbar}}

<div class="center-content">
    <section style="padding: 1rem;">
        <h1>Proyecto Final Electrónica Digital</h1>
        <div style="padding-top: 1rem;">
            <h2>Introducción</h2>
            <p>
                La electrónica digital es la rama de la electrónica más moderna y que evoluciona más rápidamente. Se
                encarga
                de
                sistemas electrónicos en los que la información está codificada en estados discretos, a diferencia de
                los
                sistemas
                analógicos donde la información toma un rango continuo de valores.
            </p>
        </div>
        <div style="padding-top: 1rem;">
            <h2>Objetivo</h2>
            <p>
                En este proyecto se pretende que el alumno se familiarice con circuitos digitales reales con el fin de
                entender
                su
                funcionamiento e interconexión. Los circuitos integrados que se utilizarán serán Memoria RAM 6116,
                compuertas
                lógicas, 555 (Reloj) y contadores.
            </p>
        </div>
    </section>

    <section style="padding: 1rem;">
        <h2>Desarrollo</h2>
        <p>
            El dispositivo 6116 es una memoria de acceso aleatorio, Random Acces Memory (RAM), cuenta con una capacidad
            de
            2048 palabras de 8 bits cada una, es una memoria estática de alta velocidad, está fabricada con la
            tecnología
            CMOS, opera con una fuente de alimentación de +5.0 Volts y está dispuesta en una pastilla de 24 terminales.
            El
            temporizador IC 555 es un circuito integrado (chip) que se utiliza en la generación de temporizadores,
            pulsos y
            oscilaciones. El 555 puede ser utilizado para proporcionar retardos de tiempo, como un oscilador, y como un
            circuito integrado flip flop. Sus derivados proporcionan hasta cuatro circuitos de sincronización en un solo
            paquete. La Lógica binaria tiene que ver con variables binarias y con operaciones que toman un sentido
            lógico.
            La manipulación de información binaria se hace por circuitos lógicos que se denominan Compuertas Lógicas
            Cada
            puerta lógica consiste en una red de dispositivos interruptores que cumple las condiciones booleanas para el
            operador particular. Como su nombre lo dice el 74LS193 es un contador que va de 0 a 15, este conteo lo hace
            de
            manera binaria. Con ayuda de un pulso de reloj. Si se desea se puede comenzar el conteo desde un valor
            cualquiera o puede comenzar de forma normal, que es comenzando desde 0. NodeMCU es una plataforma IoT de
            código
            abierto. ​ ​ Incluye el firmware que se ejecuta en el SoC Wi-Fi ESP8266 de Espressif Systems y el hardware
            que
            se basa en el módulo ESP-12. ​ ​ El término "NodeMCU" se refiere al firmware en lugar de a los kits de
            desarrollo. El firmware utiliza el lenguaje Lua. Se basa en el proyecto eLua y se basa en el SDK no
            operativo de
            Espressif para el ESP8266. Utiliza muchos proyectos de código abierto, como lua-cjson, y spiffs. ​ ¿Qué es
            una
            plataforma IoT? Dicho de otra forma y según Link-labs, una plataforma web integrada al Internet of Things
            (IoT)
            es el software que conecta hardware, puntos de acceso y redes de datos a lo que generalmente suele ser la
            aplicación de la que disfruta el usuario.
            Realizamos en el proyecto un sistema de comparación de una clave mediante el uso de una memoria RAM con
            principios de la electrónica digital compuertas lógicas para la comparación un reloj para dar el pulso del
            contador integrando el uso del NodeMCU para el control de los valores binarios a guardar usando dos de los
            mismos uno para la entrada de datos oro para la comparación de este con las compuertas lógicas XOR, NOT,
            AND.
            Integramos la plataforma IoT para el ingreso de datos a nuestro sistema ya que muchas industrias utilizan
            esa
            tecnología para un control del sistema remoto uso práctico para el sistema debido a la demanda tecnológica
            de la
            actualidad por el uso del internet de las cosas, Internet of Things (IoT).
        </p>
    </section>
</div>

{{> footer}}